* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* utility  */

.container {
    margin: auto;
    max-width: 1100px;
    overflow: auto;
    padding: 0 20px;
}

.bg-dark {
    background-color: #333;
}

.text-primary {
    color: #f7c08a;
}

/* main styling core elements */
html,
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.7em;
}

a {
    color: #333;
    text-decoration: none;
}

h1,
h2,
h3 {
    padding-bottom: 20px;
}

p {
    margin: 10px 0;
}

pt-1 {
    padding-top: 10px;
}

/* navbar */
#navbar {
    background-color: #333;
    color: white;
    overflow: auto;
}

#navbar a {
    color: white;
}


#navbar h1 {
    float: left;
    padding-top: 20px;
}

#navbar ul {
    list-style: none;
    margin: 0;
    float: right;
}

#navbar ul li {
    float: left;

}

#navbar ul li a {
    display: block;
    padding: 20px;
    text-align: center;

}

#navbar ul li a:hover,
#navbar ul li a.current {
    border-bottom: 2px solid #f7c08a;
    color: #f7c08a;

}

/* hero section */

#showcase {
    background: url("/image/showcase.jpg");
    background-size: cover;
    height: 50vh;
    background-repeat: no-repeat;
}

#showcase .showcase-content {
    color: #fff;
    text-align: center;
    padding-top: 200px;


}

#showcase .showcase-content h1 {
    color: #fff;
    font-size: 4rem;
    line-height: 1;

}

#showcase .showcase-content h1 span {
    color: #f8c08a;
}

#showcase .showcase-content a {
    background: #333;



}

#showcase .showcase-content a.btn {
    background: #333;
    padding: 13px 20px;
    color: white;
    transition: all .3s ease-in-out;
    display: inline-block;
    font-size: 18px;
    border: none;

}

.btn {
    background: #333;
    padding: 13px 20px;
    color: white;
    transition: all .3s ease-in-out;
    display: inline-block;
    font-size: 18px;
    border: none;
}

.btn:hover {
    background: #f7c08a;
    color: #333;

}

.bg-light {
    background: #f4f4f4;
    color: #333;
}

#showcase .showcase-content a.btn:hover {
    background: #f7c08a;
    color: #333;

}

/* sections home-info */

#home-info {
    height: 450px;
}

#home-info .info-img {
    float: left;
    width: 50%;
    background: url("/image/photo-1.jpg") no-repeat;
    min-height: 100%;
}

#home-info .info-content {
    text-align: center;
    color: #fff;
    height: 100%;
    padding: 50px 30px;
    overflow: hidden;


}

#card-section {}

#card-section .card {
    float: left;
    width: 33.3%;
    padding: 50px 10px;
    text-align: center;


}

#card-section .card-icon .fas {
    font-size: 5rem;

}

#card-section .card .card-title {
    font-size: 1.4em;
    font-weight: 700;

}

.bg-primary {
    background: #f7c08a;
}

footer {
    height: 60px;
    text-align: center;
    background: #333;
    color: White;


}

footer p {
    margin: 0;
    padding-top: 20px;
}

.clearfix {}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

#about-info {
    padding: 85px 40px;
}

#about-info .info-left {
    width: 50%;
    float: left;
    text-align: left;
    padding: 20px 50px;
}

#about-info .info-left h1 {
    font-size: 2.5rem;


}

#about-info .info-left p {
    margin: 0;
    padding-bottom: 10px;
    line-height: 1.5;

}

#about-info .info-right {
    width: 50%;
    float: right;
    padding-top: 2rem;

}

#about-info .info-right__img img {
    height: 80%;
    border-radius: 50%;
    width: 80%;

}


#testimonials {
    background: url('/image/test-bg.jpg')no-repeat;
    min-height: 700px;
    background-size: cover;
    background-attachment: fixed;
}

#testimonials .testimonials--heading h1 {
    color: #fff;
    font-size: 3rem;
    padding-top: 5rem;
    text-align: center;
}



#testimonials .testimonials-img img {
    float: left;
    border-radius: 50%;
    height: 100px;
    width: 100px;
    margin-right: 30px;


}

.two {
    margin-top: 4rem;
}

#testimonials .box {
    padding: 30px 20px;
}